@-ms-viewport       { width: device-width; }
@-webkit-viewport   { width: device-width; }
@-moz-viewport      { width: device-width; }
@-ms-viewport       { width: device-width; }
@-o-viewport        { width: device-width; }
@viewport           { width: device-width; }

body,button, input, select, textarea,h1 ,h2, h3, h4, h5, h6 { font-family: Microsoft YaHei,'宋体' , Tahoma, Helvetica, Arial, "\5b8b\4f53", sans-serif;}

body{
    background: #fff;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color:#000;
    margin: 0;
    padding: 0;
}
div.page-wrapper {padding-bottom: 30px; position: relative; width:100%; text-align: center;}
a, #banner {color: #ff5c5c;}

/*css for navbar*/
.ul_nav {
    position: fixed;
    padding-left: 0;
    left: 0px;
    top: 15%;
    z-index: 999;
}
.ul_nav li {
    list-style-type: none;
}
.ul_nav li a {
    display: block;
    width: 59px;
    height: 55px;
    background-repeat: no-repeat;
    background-size: 176px auto;
    transition: all 0.4s ease-in-out;
}
.ul_nav li a.nav-invitation {
    background-image: url(http://file.xitie.net.cn/31_ul_nav.png);
    background-position: -127px 0px;
}
.ul_nav li a.nav-photos{
    background-image: url(http://file.xitie.net.cn/31_ul_nav.png);
    background-position: -127px -165px;
}

.ul_nav li a:hover.nav-invitation, .ul_nav li.active a.nav-invitation {
    background-image: url(http://file.xitie.net.cn/31_ul_nav.png);
    background-position: 0px 0px;
}

.ul_nav li a:hover.nav-photos, .ul_nav li.active a.nav-photos {
    background-image: url(http://file.xitie.net.cn/31_ul_nav.png);
    background-position: 0px -165px;
}

.ul_nav li a.nav-message {
    background-image: url(http://file.xitie.net.cn/31_ul_nav.png);
    background-position: -127px -277px;
}

.ul_nav li a:hover.nav-message, .ul_nav li.active a.nav-message {
    background-image: url(http://file.xitie.net.cn/31_ul_nav.png);
    background-position: 0px -277px;
}

/*css for music play*/
.nav_top {
    position: fixed;
    top: 50px;
    right: 20px;
    z-index: 9999;
    border-radius: 50%;
}
.nav_top label.on {
    -webkit-transform-style: preserve-3d;
    -webkit-animation-name: x-spin;
    -webkit-animation-duration: 1s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: x-spin;
    -moz-transform-style: preserve-3d;
    -moz-animation-duration: 1s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
}
.nav_top label {
    display: block;
    float: right;
    margin: 0px 0px;
    width: 32px;
    height: 32px;
    background: url(../images/66_units_icons.png) no-repeat;
    background-size: auto 32px;
    cursor: pointer;
    -webkit-tap-highlight-color: raba(0,0,0,0);
}
 @-webkit-keyframes x-spin {
     0% { -webkit-transform:rotate(0deg)}
     100% { -webkit-transform:rotate(360deg)}
 }
  @-moz-keyframes x-spin {
     0% { -moz-transform:rotate(0deg)}
     100% { -moz-transform:rotate(360deg)}
 }
  @-o-keyframes x-spin {
     0% { -o-transform:rotate(0deg)}
     100% { -o-transform:rotate(360deg)}
 }
  @-ms-keyframes x-spin {
     0% { -ms-transform:rotate(0deg)}
     100% { -mos-transform:rotate(360deg)}
 }
  keyframes x-spin {
     0% { transform:rotate(0deg)}
     100% { transform:rotate(360deg)}
 }
 @-webkit-keyframes bounce {
     0% {-webkit-transform: translateY(0);} 
     50% {-webkit-transform: translateY(-10px);} 
 100% {-webkit-transform: translateY(0);}}
 @-zom-keyframes bounce {
     0% {-zom-transform: translateY(0);} 
     50% {-zom-transform: translateY(-10px);} 
 100% {-zom-transform: translateY(0);}}
 @-ms-keyframes bounce {
     0% {-ms-transform: translateY(0);} 
     50% {-ms-transform: translateY(-10px);} 
 100% {-ms-transform: translateY(0);}}
 @-o-keyframes bounce {
     0% {-o-transform: translateY(0);} 
     50% {-o-transform: translateY(-10px);} 
 100% {-o-transform: translateY(0);}}
 @keyframes bounce {
     0% {transform: translateY(0);} 
     50% {transform: translateY(-10px);} 
     100% {transform: translateY(0);}
 }
/*css for section we get married*/
.slide-married{
     width:100%;
    height:100%;
    position:relative;
    margin:0 auto;
    padding-top:8%;
}
.slide_02,
.slide_04,
.slide_05,
.slide_06,
.slide_07{
    width:100%;
    height:100%;
    position:relative;
    margin:0 auto;
    background:#fff1cb url(../images/66_sub_bg.png) bottom no-repeat;
    background-size:100% auto;
}
.slide_03{
    width:100%;
    height:100%;
    position:relative;
    margin:0 auto;
    padding:20px 5px 0px 0px;
}
.slide_08{
    width:100%;
    height:100%;
    background:url(../images/66_wedding_page.jpg) no-repeat;
    background-size:100% 100%;
    position:relative;
}

.slide_09{
    width:100%;
    height:100%;
    background:#fff;
}
.slide_10{
    width:100%;
    height:100%;
    background:url(../images/66_count_bg.jpg) bottom no-repeat;
    background-size:100% 100%;
    position:relative;
}

.marry_title{
    clear:both;
    color:#ee4351;
    font-size:26px;
    margin:0 auto;
    padding:5% 0 5% 0;
    text-align:center;
}
.splite{
    width:100%;
    height:10px;
    background:url(../images/66_splite.png) center no-repeat;
    background-size:260px auto;
    margin:10px auto;
    text-align:center;
}
.wish_sp{
    width:100%;
    height:6px;
    background:url(../images/66_wishsp.png) center no-repeat;
    background-size:auto 6px;
    margin:10px auto;
    text-align:center;
}
.m-animationCloudBg{height: 100%;  position: absolute; top: 0px; bottom: 0px; left: 0px; right: 0px;  z-index: 0; overflow: hidden;}
.m-animationCloudBg i {
    width: 640px;
    height: 300px;
    display: block;
    position: absolute;
    opacity: 0;
    z-index: 0;
    z-index: 0 !important;
    top: 50px;
    left: -100px;
}
.m-animationCloudBg i:nth-child(1){background: url(../images/66_cloud1.png); top: 50px; left: -100px; -webkit-animation: animationCloudBg 1s linear infinite; -webkit-animation-delay: 2s;}
.m-animationCloudBg i:nth-child(2){background: url(../images/66_cloud2.png); top: 100px; left: -50px; -webkit-animation: animationCloudBg 2s linear infinite; -webkit-animation-delay: 1s;}
.m-animationCloudBg i:nth-child(3){background: url(../images/66_cloud3.png); top: 150px; left: -0px; -webkit-animation: animationCloudBg 4s linear infinite; -webkit-animation-delay: 0s;}
.m-animationCloudBg i:nth-child(4){background: url(../images/66_cloud4.png); top: 200px; left: 50px; -webkit-animation: animationCloudBg 2s linear infinite; -webkit-animation-delay: 2s;}
.m-animationCloudBg i:nth-child(5){background: url(../images/66_cloud5.png); top: 250px; left: -50px; -webkit-animation: animationCloudBg 1.2s linear infinite; -webkit-animation-delay: 3s;}
.m-animationCloudBg i:nth-child(6){background: url(../images/66_cloud6.png); top: 300px; left: 20px; -webkit-animation: animationCloudBg 3s linear infinite; -webkit-animation-delay: 1s;}
.m-animationCloudBg i:nth-child(7){background: url(../images/66_cloud1.png); top: 350px; left: 80px; -webkit-animation: animationCloudBg 4.5s linear infinite; -webkit-animation-delay: 0s;}
.m-animationCloudBg i:nth-child(8){background: url(../images/66_cloud2.png); top: 400px; left: -10px; -webkit-animation: animationCloudBg 2.8s linear infinite; -webkit-animation-delay: 1s;}
.m-animationCloudBg i:nth-child(9){background: url(../images/66_cloud3.png); top: 350px; left: 80px; -webkit-animation: animationCloudBg 1.6s linear infinite; -webkit-animation-delay: 2s;}
.m-animationCloudBg i:nth-child(10){background: url(../images/66_cloud4.png); top: 20px; left: -100px; -webkit-animation: animationCloudBg 4s linear infinite; -webkit-animation-delay: 1s;}
.m-animationCloudBg i:nth-child(11){background: url(../images/66_cloud5.png); top: 60px; left: 0px; -webkit-animation: animationCloudBg 2.5s linear infinite; -webkit-animation-delay: 2s;}
.m-animationCloudBg i:nth-child(12){background: url(../images/66_cloud6.png); top: 0px; left: -50px; -webkit-animation: animationCloudBg 3.2s linear infinite; -webkit-animation-delay: 0s;}
@-webkit-keyframes animationCloudBg{
    0%{-webkit-transform: scale(0.5) translate(-300px, 300px) rotateX(0deg) rotateY(0deg); opacity: 0;}
    33%{-webkit-transform: scale(1) translate(-80px, 80px) rotateX(20deg) rotateY(-20deg); opacity: 1;}
    66%{-webkit-transform: scale(1.5) translate(100px, -100px) rotateX(30deg) rotateY(-10deg); opacity: 0.8;}
    100%{-webkit-transform: scale(1.8) translate(300px, -300px) rotateX(0deg) rotateY(0deg); opacity: 0.6;}
}

/*css for card section */
section.card {
    width: 100%;
    background-color: #fff1ca;
    margin: 0px auto;
    height: 100%;
    transform: translateY(0px);
    transition: none;
    text-align: center;
    position: relative;
}
section.card img{
    width: 100%;
}
.fm_in{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    margin:0 auto;
    padding:15% 0;
    background:#000;
    opacity: 0.6;
    z-index:0;
}
section.introduction {
    width:100%;
    height:100%;
    position:relative;
    margin:0 auto;
    padding:110px 0;
    background:#fffeee url(../images/album.png) center no-repeat;
    background-size:auto 100%;
}
.welcome{
    position:relative;
    top:25%;
    left:50%;
    margin-left:-110px;
    width:220px;
    height:340px;
    background:url(../images/66_fm_bor.png) top no-repeat;
    background-size:220px auto;
    text-align:center;
    padding:110px 0 0 0;
    opacity: 1;
    z-index:2;
}
.inviter{
    text-align:center;
    color:#fff;
    font-size:48px;
    margin:0px auto 0px auto;
}
.join{
    color:#fff;
    font-size:20px;
    padding:3% 0;
    background:url(../images/66_join.png) center no-repeat;
    background-size:180px auto;
}
.newman{
    color:#fff;
    font-size:20px;
    padding:1% 0px;
}
.newman label{
    font-weight: normal;
}



/*Baidu map for location*/
.map-box {
 position: relative;
 margin: 15px 15px 0;
 border-radius: 5px;
 background: #fff;
 padding: 15px;
}

.map-msg {
    padding: 10px 0;
    overflow: hidden;
}
.map-msg h5 {
    font-size: 1.4rem;
    line-height: 20px;
    min-height: 25px;
    color: #999;
    overflow: hidden;
}
.map-btn {
    display: inline-block;
    margin-top: 2px;
    margin-right: 6px;
    width: 50px;
    height: 18px;
    background: url(../images/bmap-nav.png) no-repeat;
    background-size: 100% 100%;
    border: 0;
    outline:0;
    border-radius: 0;
}
#mapContent {position: relative}
.map-search {
    position: absolute;
    top: 0;
    right: 0;
    width: 28px;
    height: 28px;
    background: url(../images/bmap-search.png) no-repeat;
    background-size: 100% 100%;
    z-index: 99999;
}
